[Unit]
Description=Periodic Fedora update check

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Persistent=true
Unit=me.blq.FedoraUpdater.check.service

[Install]
WantedBy=timers.target
